{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
{% endblock css %}
{% block content %}

<div id="bord">
    <form method="post">

        {% csrf_token %}
        <div>
            <p>username</p>
            <input type="text" name="username">
             <p>password</p>
            <input type="password" name="password">
            <div style="margin-top: 15px;"></div>
            <button type="submit">Login</button>
            <br>
            <a href="{% url 'signup' %}">Sing up</a> 
            {% if error %}
                <div class="error-msg">
                    <p>{{ error }}</p>
                </div>
            {% endif %}
            
        </div>

    </form>

</div>

{% endblock content %}